.course-regis{
    min-height: calc(100vh - 170px);
}

.regis-control{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.regis-table{
    font-size: 14px;
    width: 100%;
}
.regis-note span{
    margin: 0 10px;
}

@media (max-width: 768px){
    .regis-control{
        flex-direction: column;
    }
}