.about{
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

iframe{
    max-width: 90%;
    max-height: 300px;
}